#node
/node_modules

#dist
/dist

#enviroment
.env
.env.example
.env.test
.env.local
.env.production

#uploads
/uploads

#misc
.DS_Store

/lambdas/*/node_modules
/lambdas/*/Archive.zip
/*/FactiiiDevDB
/*/FactiiiTestDB
/*/postgres-data
/*/data.sql
/*/FactiiiDevDB
/*/FactiiiTestDB

# Sentry Config File
.sentryclirc
